    <h2>게시글</h2>
    <hr>
    <table border="1">
        <tr>
            <td>제목</td>
            <td>내용</td>
            <td>작성자</td>
            <td>작성일</td>
            <td>버튼</td>
            <td>버튼</td>
        </tr>
        <% for(let post of posts) { %>
        <tr>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td><%= post.writer %></td>
            <td><%= post.createdAt %></td>
            <td><button><a href="/board/edit/<%=post.id%>" style="text-decoration: none">수정</a></button></td>

            <form action="/board/<%=post.id%>?_method=DELETE" method="post">
                <td><input type="submit" value="삭제"></input></td>
            </form>
        </tr>
        <% } %>
    </table>
    <div>
        <button><a href="/board/add" style="text-decoration: none">게시글 작성</a></button>
    </div>